body {font-family:Arial, sans-serif;}
input[type="text"] {
  width: 310px;
  margin-bottom: 15px;
}

input {border:1px solid #bcbcbc;}

form.ng-submitted input.ng-invalid,
form.ng-submitted textarea.ng-invalid,
form.ng-submitted select.ng-invalid,
input.ng-invalid.ng-dirty,
textarea.ng-invalid.ng-dirty,
select.ng-invalid.ng-dirty {    
    border-color: #f00 !important;
}

form.ng-submitted input[type="radio"].ng-invalid{
    outline: 1px solid #f00 !important;
}

form.ng-submitted input[type="checkbox"].ng-invalid{
    outline: 1px solid #f00 !important;
}

select {
  padding: 2px 5px 2px 5px;
  margin-bottom: 15px;
  border: 1px solid #bcbcbc;
}

textarea {
  max-width: 473px;
  min-width: 473px;
  height: 125px;
}

input.btn {
  display: block;
  position: relative;
  background-color: brown;
  padding: 3px 5px;
  min-width: 100px;
  border: none;
  text-align: center;
  color: #fff;
  cursor: pointer;
}


input.submitBtn {
  margin:10px 0 0 380px;
  padding:10px 15px;
  border-radius:5px;
  font-weight:bold;
  letter-spacing:1px;
}

input.btn:hover {
  background: #fb0505;
}

.submitBtnSectionWrapper {
  margin-left: 20px;
}

span.required {
  color: #fb0505;
  margin-right: 3px;
}

.errorText {
  color: #f00;
  margin-top: 10px;
}

.successText {
  color: #008000;
  margin-top: 10px;
}

.fields_required {
  padding: 10px 0;
}

.enrolleeIdWrapper {
  margin-bottom: 10px;
}

/*--------------------------- Basic formatting for this box-------------------------------------*/
input[type="radio"].ng-invalid:focus + span.validationMessage,
input.ng-invalid:focus + span.validationMessage {
  display: inline;
  position: absolute;
  color: #000;
  background: #ffff99;
  border: 1px solid #000;
  padding: 6px 10px;
  line-height: 14px;
  text-align: center;
  border-radius: 6px;
  left: 0;
  bottom: -25px;
  box-shadow: 2px 2px 3px #A6A0A0;
  z-index: 2;
}
input[type="radio"].ng-invalid:focus + span.validationMessage:before,
input.ng-invalid:focus + span.validationMessage:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 25px;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-bottom: 8px solid #6D6D6D;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  z-index: 2;
}
input[type="radio"].ng-invalid:focus + span.validationMessage:after,
input.ng-invalid:focus + span.validationMessage:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 25px;
  margin-left: -6px;
  width: 0;
  height: 0;
  border-bottom: 6px solid #ffff99;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  z-index: 2;
}

/*------------- Overrides -------------*/
input[type="checkbox"].ng-invalid + span.validationMessage,
input[type="radio"].ng-invalid + span.validationMessage{display:none;}
form.ng-submitted input[type="checkbox"].ng-invalid:focus + span.validationMessage,
form.ng-submitted input[type="radio"].ng-invalid:focus + span.validationMessage{display:inline;position:absolute;color:#000;background:#ffff99;border: 1px solid #000;padding:6px 10px;line-height:14px;text-align:center;border-radius:6px;left:-5px;bottom:-30px;box-shadow: 2px 2px 3px #A6A0A0;z-index:2;}
input[type="checkbox"].ng-invalid:focus + span.validationMessage:before,
input[type="radio"].ng-invalid:focus + span.validationMessage:before{content: '';position: absolute;bottom: 100%;left: 15px;margin-left: -8px;width: 0;height: 0;border-bottom: 8px solid #6D6D6D;border-right: 8px solid transparent;border-left: 8px solid transparent;z-index:2;}
input[type="checkbox"].ng-invalid:focus + span.validationMessage:after,
input[type="radio"].ng-invalid:focus + span.validationMessage:after{content: '';position: absolute;bottom: 100%;left: 15px;margin-left: -6px;width: 0;height: 0;border-bottom: 6px solid #ffff99;border-right: 6px solid transparent;border-left: 6px solid transparent;z-index:2;}
form.ng-submitted input[type="checkbox"].ng-invalid:focus + span.validationMessage {top:30px;bottom:auto;}

.formFieldsWrapper { position:relative; }
.formFieldsWrapper.inline { display: inline-block; }
.formFieldsWrapper.block { display: block; }

.formFieldsWrapper select.ng-invalid:focus + span.validationMessage,
.formFieldsWrapper textarea.ng-invalid:focus + span.validationMessage,
.formFieldsWrapper input[type="text"].ng-invalid:focus + span.validationMessage {
  display: inline;
  position: absolute;
  left: 100%;
  top: 0;
  color: #000;
  background: #ffff99;
  border: 1px solid #000;
  padding: 6px 10px;
  line-height: 14px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 2px 2px 3px #A6A0A0;
  z-index: 2;
  margin-left: 10px;
}

.formFieldsWrapper input[type="text"].ng-invalid:focus + span.validationMessage {
   bottom:auto;
   top:-3px;
}

.formFieldsWrapper textarea.ng-invalid:focus + span.validationMessage {
    top:35%;
}


.formFieldsWrapper.block select.ng-invalid:focus + span.validationMessage,
.formFieldsWrapper.block input[type="text"].ng-invalid:focus + span.validationMessage {
    left:auto;
}

/*----little arrow part----*/

.formFieldsWrapper select.ng-invalid:focus + span.validationMessage:before,
.formFieldsWrapper textarea.ng-invalid:focus + span.validationMessage:before,
.formFieldsWrapper input[type="text"].ng-invalid:focus + span.validationMessage:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -10px;
  margin-top: -10px;
  width: 0;
  height: 0;
  border-right: 10px solid #6D6D6D;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  z-index: 2;
}

.formFieldsWrapper select.ng-invalid:focus + span.validationMessage:after,
.formFieldsWrapper textarea.ng-invalid:focus + span.validationMessage:after,
.formFieldsWrapper input[type="text"].ng-invalid:focus + span.validationMessage:after {
  content: '';
  position: absolute;
  top: 50%;
  left: -8px;
  margin-top: -8px;
  width: 0;
  height: 0;
  border-right: 8px solid #ffff99;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  z-index: 2;
}

.validationMessage.hideMe {display:none;}

span.validationMessage {
  display: none;
}
/*--------------------------- Specific for Angular Validation-------------------------------------*/
/*textarea.ng-invalid:focus + span.validationMessage,
input.ng-invalid:focus + span.validationMessage{display:inline;position:absolute;color:#000;background:#ffff99;border: 1px solid #000;padding:6px 10px;line-height:14px;text-align:center;border-radius:6px;left:0;bottom:-17px;box-shadow: 2px 2px 3px #A6A0A0;z-index:2;}
textarea.ng-invalid:focus + span.validationMessage:before,
input.ng-invalid:focus + span.validationMessage:before{content: '';position: absolute;bottom: 100%;left: 25px;margin-left: -8px;width: 0;height: 0;border-bottom: 8px solid #6D6D6D;border-right: 8px solid transparent;border-left: 8px solid transparent;z-index:2;}
textarea.ng-invalid:focus + span.validationMessage:after,
input.ng-invalid:focus + span.validationMessage:after{content: '';position: absolute;bottom: 100%;left: 25px;margin-left: -6px;width: 0;height: 0;border-bottom: 6px solid #FFFF99;border-right: 6px solid transparent;border-left: 6px solid transparent;z-index:2;}*/

.inlineField { display: inline-block; }
.inlineFieldsWrapper input[type="radio"] { margin-bottom: 15px; }